<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>Appointment Schedule - Ezee Appointer</title>
		<!-- Link shortcut icon-->
		<link rel="shortcut icon" type="image/ico" href="images/favicon2.html" />
		<!-- Link css-->
		<link rel="stylesheet" type="text/css" href="css/zice.style.css"/>
		<link rel="stylesheet" type="text/css" href="css/icon.css"/>
		<link rel="stylesheet" type="text/css" href="css/ui-custom.css"/>
		<link rel="stylesheet" type="text/css" href="css/timepicker.css"  />
		<link rel="stylesheet" type="text/css" href="components/colorpicker/css/colorpicker.css"  />
		<link rel="stylesheet" type="text/css" href="components/elfinder/css/elfinder.css" />
		<link rel="stylesheet" type="text/css" href="components/datatables/dataTables.css"  />
		<link rel="stylesheet" type="text/css" href="components/validationEngine/validationEngine.jquery.css" />
		<link rel="stylesheet" type="text/css" href="components/jscrollpane/jscrollpane.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="components/fancybox/jquery.fancybox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="components/tipsy/tipsy.css" media="all" />
		<link rel="stylesheet" type="text/css" href="components/editor/jquery.cleditor.css"  />
		<link rel="stylesheet" type="text/css" href="components/chosen/chosen.css" />
		<link rel="stylesheet" type="text/css" href="components/confirm/jquery.confirm.css" />
		<link rel="stylesheet" type="text/css" href="components/sourcerer/sourcerer.css"/>
		<link rel="stylesheet" type="text/css" href="components/fullcalendar/fullcalendar.css"/>
		<link rel="stylesheet" type="text/css" href="components/Jcrop/jquery.Jcrop.css"  />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css'/>
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="components/flot/excanvas.min.js"></script><![endif]-->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="components/ui/jquery.ui.min.js"></script>
		<script type="text/javascript" src="components/ui/jquery.autotab.js"></script>
		<script type="text/javascript" src="components/ui/timepicker.js"></script>
		<script type="text/javascript" src="components/colorpicker/js/colorpicker.js"></script>
		<script type="text/javascript" src="components/checkboxes/iphone.check.js"></script>
		<script type="text/javascript" src="components/elfinder/js/elfinder.full.js"></script>
		<script type="text/javascript" src="components/datatables/dataTables.min.js"></script>
		<script type="text/javascript" src="components/datatables/ColVis.js"></script>
		<script type="text/javascript" src="components/scrolltop/scrolltopcontrol.js"></script>
		<script type="text/javascript" src="components/fancybox/jquery.fancybox.js"></script>
		<script type="text/javascript" src="components/jscrollpane/mousewheel.js"></script>
		<script type="text/javascript" src="components/jscrollpane/mwheelIntent.js"></script>
		<script type="text/javascript" src="components/jscrollpane/jscrollpane.min.js"></script>
		<script type="text/javascript" src="components/spinner/ui.spinner.js"></script>
		<script type="text/javascript" src="components/tipsy/jquery.tipsy.js"></script>
		<script type="text/javascript" src="components/editor/jquery.cleditor.js"></script>
		<script type="text/javascript" src="components/chosen/chosen.js"></script>
		<script type="text/javascript" src="components/confirm/jquery.confirm.js"></script>
		<script type="text/javascript" src="components/validationEngine/jquery.validationEngine.js" ></script>
		<script type="text/javascript" src="components/validationEngine/jquery.validationEngine-en.js" ></script>
		<script type="text/javascript" src="components/vticker/jquery.vticker-min.js"></script>
		<script type="text/javascript" src="components/sourcerer/sourcerer.js"></script>
		<script type="text/javascript" src="components/fullcalendar/fullcalendar.js"></script>
		<script type="text/javascript" src="components/flot/flot.js"></script>
		<script type="text/javascript" src="components/flot/flot.pie.min.js"></script>
		<script type="text/javascript" src="components/flot/flot.resize.min.js"></script>
		<script type="text/javascript" src="components/flot/graphtable.js"></script>
		<script type="text/javascript" src="components/uploadify/swfobject.js"></script>
		<script type="text/javascript" src="components/uploadify/uploadify.js"></script>
		<script type="text/javascript" src="components/checkboxes/customInput.jquery.js"></script>
		<script type="text/javascript" src="components/effect/jquery-jrumble.js"></script>
		<script type="text/javascript" src="components/filestyle/jquery.filestyle.js" ></script>
		<script type="text/javascript" src="components/placeholder/jquery.placeholder.js" ></script>
		<script type="text/javascript" src="components/Jcrop/jquery.Jcrop.js" ></script>
		<script type="text/javascript" src="components/imgTransform/jquery.transform.js" ></script>
		<script type="text/javascript" src="components/webcam/webcam.js" ></script>
		<script type="text/javascript" src="components/rating_star/rating_star.js"></script>
		<script type="text/javascript" src="components/dualListBox/dualListBox.js"  ></script>
		<script type="text/javascript" src="components/smartWizard/jquery.smartWizard.min.js"></script>
		<script type="text/javascript" src="js/jquery.cookie.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
		<style type="text/css">
		body.dashborad {
			background-image:none;
		}
		</style>
		</h:head>
		<h:body>
		<div id="alertMessage" class="error"></div>
		<div id="shadowhead"></div>
		<div id="hide_panel"> <a class="butAcc" rel="0" id="show_menu"></a> <a class="butAcc" rel="1" id="hide_menu"></a> <a class="butAcc" rel="0" id="show_menu_icon"></a> <a class="butAcc" rel="1" id="hide_menu_icon"></a> </div>
		<div id="content" class="registrationpg">
		  <div class="inner">
          <div class="topcolumn">
          <div class="logo"></div>
        </div>
       <div class="clear"></div>
       <div class="onecolumn usrappointment">
       <div class="header"> <span > Step 1 -  Select you appointment preferences</span> </div>
       <div class="clear"></div>
       <div class="content" >
        <ul class="tabs">
          <li><a href="#tab1">Book Appointment By Service/Category</a></li>
          <li><a href="#tab2">Book Appointment By Doctor</a></li>
        </ul>
        <div class="tab_container" >
        <h:form>
          <div id="tab1" class="tab_content">
            <div class="grid2">
              <div class="boxtitle min">Select a Service</div>
              
                <div>
                <h:selectOneMenu value="#{appointmentbean.service}"  styleClass="chzn-select" id="Service" required="true" requiredMessage="Please select a service.">
                	<f:ajax event="blur"  render="servicemsg" />
                 	<f:selectItems value="#{appointmentbean.serviceSelectItems}"/>
			    </h:selectOneMenu> 
			   <h:message for="Service" id="servicemsg" style="font-family:arial;color:red;font-size:10px;" />
                 </div>
            </div>
            <div class="grid2">
              <div class="boxtitle min">Select Date of your appointment</div>
              <div>
                <h:inputText  id="DateOfAppt" styleClass="datepicker" name="DateOfAppt" required="true" requiredMessage="PlzSelectTheDate">
                <f:ajax event="blur"  render="datemsg" />
                </h:inputText>
                 <h:message for="DateOfAppt" id="datemsg" style="font-family:arial;color:red;font-size:10px;" />
                 
              <div>
                <h:commandLink id = "searchAppt" value="Search" action="#{appointmentbean.searchForStaff}" styleClass="addbtn buttonFinish uibutton">
       		               			<f:ajax execute="Service DateOfAppt" render = "apptDtls"/>
                 </h:commandLink>
              </div>
              </div>
            </div>
            <div class="clear"></div>
            <h:panelGroup id = "apptDtls">
            <h:panelGroup rendered = "#{appointmentbean.displayApptDtls}"> 
            <h3>List of Available Slots</h3>
            <div class="services_list">
              <div class="staff_pro activestf">
                <h:selectOneRadio name="staff" id="staff1" value="1"  styleClass="ck"  checked="checked"/>
                <div class="staff_pic"> <img src="images/doc_pic.jpg" alt="Doctor name"  /> </div>
                <h3>Staff Name</h3>
                <h5>Staff Designation</h5>
                <p>Staff Bio or short Description</p>
                <div class="services_handled"> <span class="tag_icon"></span>
                  <ul class="servicelist">
                    <li><a href="#">service name1</a></li>
                    <li><a href="#">service name1</a></li>
                  </ul>
                </div>
              </div>
              <div class="staff_pro">
                <h:selectOneRadio name="staff" id="staff2" value="1"  styleClass="ck" />
                <div class="staff_pic"> <img src="images/doc_pic.jpg" alt="Doctor name"  /> </div>
                <h3>Staff Name</h3>
                <h5>Staff Designation</h5>
                <p>Staff Bio or short Description</p>
                <div class="services_handled"> <span class="tag_icon"></span>
                  <ul class="servicelist">
                    <li><a href="#">service name1</a></li>
                    <li><a href="#">service name1</a></li>
                  </ul>
                </div>
              </div>
              <div class="staff_pro">
                <h:selectOneRadio name="staff" id="staff3" value="1"  class="ck" />
                <div class="staff_pic"> <img src="images/doc_pic.jpg" alt="Doctor name"  /> </div>
                <h3>Staff Name</h3>
                <h5>Staff Designation</h5>
                <p>Staff Bio or short Description</p>
                <div class="services_handled"> <span class="tag_icon"></span>
                  <ul class="servicelist">
                    <li><a href="#">service name1</a></li>
                    <li><a href="#">service name1</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <table class="display fc-border-separate timetbl" id="static">
              <thead>
                <tr class="fc-first fc-last">
                  <th class="fc-sun fc-widget-header fc-first" width="20%">Timings</th>
                  <th class="fc-sun fc-widget-header" width="11%">Sun 7/15</th>
                  <th class="fc-mon fc-widget-header" width="11%">Mon 7/16</th>
                  <th class="fc-tue fc-widget-header" width="11%">Tue 7/17</th>
                  <th class="fc-wed fc-widget-header" width="11%">Wed 7/18</th>
                  <th class="fc-thu fc-widget-header" width="11%">Thu 7/19</th>
                  <th class="fc-fri fc-widget-header" width="11%">Fri 7/20</th>
                  <th class="fc-sat fc-widget-header">Sat 7/21</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">8:00am - 8:30am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 fc-state-highlight state-available fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-fri fc-widget-content fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">&nbsp;</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">8:30am - 9:00am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                     <td class="fc-fri fc-widget-content state-available fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td> 
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">9:00am - 9:30am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-fri fc-widget-content fc-day5 state-available fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                    <td class="fc-sat fc-widget-content fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">&nbsp;</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">9:30am - 10:00am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 state-available fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                     <td class="fc-fri fc-widget-content state-available fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td> 
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                </tr>
               
              </tbody>
            </table>
            
           <div class="bottom rightflt">
            <a class="uibutton icon next" href="user_register.html">Next</a>
            </div>
            </h:panelGroup>
            </h:panelGroup>
            <div class="clear"></div>
          </div>
          </h:form>
          <div id="tab2" class="tab_content">
            <div class="grid2">
              <div class="boxtitle min">Select Doctor</div>
              <div class="section">
                <div>
                <h:selectManyListbox value="#{appointmentbean.chooseDoctor}"  styleClass="chzn-select multi-select" multiple = "true" tabindex="2">
	            <f:selectItems value="#{appointerBean.ChooseDoctor}"/>        
			    </h:selectManyListbox>
	           </div>
              </div>
            </div>
            <div class="grid2">
              <div class="boxtitle min">Select Date of your appointment</div>
              <div>
                <h:inputText  id="datepick" class="datepicker" readonly="readonly" name="datepicker"  />
              </div>
            </div>
            <div class="clear"></div>
            <h3>List of Available Slots</h3>
            <div class="services_list">
              <div class="staff_pro activestf staff_pro_w360">
                <h:selectOneRadio name="staff" id="staff1" value="1"  class="ck"  checked="checked"/>
                <div class="staff_pic"> <img src="images/doc_pic.jpg" alt="Doctor name"  /> </div>
                <h3>Staff Name</h3>
                <h5>Staff Designation</h5>
                <p>Staff Bio or short Description</p>
                <div class="services_handled"> 
                <h5>Select Service</h5>
                <h:selectOneMenu value="#{appointmentbean.service}"  styleClass="chzn-select multi-select">
				 <f:selectItem itemValue="India" itemLabel="india" />	
                 <f:selectItem itemValue="us" itemLabel="us" />   
                 <f:selectItem itemValue="chaina" itemLabel="chaina" />
					    
					 </h:selectOneMenu> 
              <!--      <select  class="chzn-select multi-select" multiple tabindex="3">
                    <option value=""></option>
                    <option value="0">Select Specialty</option>
                    <option value="267">Service Name 1</option>
                    <option value="264">Service Name 2</option>
                    <option value="342">Service Name 3</option>
                    <option value="265">Service Name 4</option>
                    <option value="372">Service Name 4</option>
                  </select> -->
                </div>
              </div>
            </div>
            <table class="display fc-border-separate timetbl" id="static">
              <thead>
                <tr class="fc-first fc-last">
                  <th class="fc-sun fc-widget-header fc-first" width="20%">Timings</th>
                  <th class="fc-sun fc-widget-header" width="11%">Sun 7/15</th>
                  <th class="fc-mon fc-widget-header" width="11%">Mon 7/16</th>
                  <th class="fc-tue fc-widget-header" width="11%">Tue 7/17</th>
                  <th class="fc-wed fc-widget-header" width="11%">Wed 7/18</th>
                  <th class="fc-thu fc-widget-header" width="11%">Thu 7/19</th>
                  <th class="fc-fri fc-widget-header" width="11%">Fri 7/20</th>
                  <th class="fc-sat fc-widget-header">Sat 7/21</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">8:00am - 8:30am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 fc-state-highlight state-available fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-fri fc-widget-content fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">&nbsp;</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">8:30am - 9:00am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                     <td class="fc-fri fc-widget-content state-available fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td> 
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">9:00am - 9:30am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-fri fc-widget-content fc-day5 state-available fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                    <td class="fc-sat fc-widget-content fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">&nbsp;</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">9:30am - 10:00am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 state-available fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                     <td class="fc-fri fc-widget-content state-available fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td> 
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                </tr>
               
              </tbody>
            </table>
            
           <div class="bottom rightflt">
              <h:commandButton styleClass="regi_submit uibutton icon special forward" value="Next" action="#"/>
            <!--   <a class="uibutton icon next" href="user_register.html">Next</a> -->
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="footer"> &copy; Copyright 2012 <span class="tip"><a  href="#" title="Ezee Appointer" >Your Company Name</a> </span> </div>
</div>
<!--// End inner -->


<!--// End content -->
 <script language="javascript">
	 $(document).ready(function() {
					
		$('.state-available').live('click', function(){
			$(".timetbl td.state-select").html('Available');										 
			$(".timetbl td").removeClass('state-select');
			$(this).addClass('state-select');
			$(this).html('Selected');
	 	});		

	});

	 </script> 


</h:body>
</html>
