<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

<h:head>
  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/fileupload.js"></script>
  <title>Business Setup - Ezee Appointer</title>        <!-- Link css-->
        <link rel="stylesheet" type="text/css" href="css/zice.style.css"/>
        <link rel="stylesheet" type="text/css" href="components/chosen/chosen.css" />    
    	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="components/flot/excanvas.min.js"></script><![endif]-->
    
        <script type="text/javascript" src="components/ui/jquery.ui.min.js"></script> 
        <script type="text/javascript" src="components/ui/jquery.autotab.js"></script>
        <script type="text/javascript" src="components/ui/timepicker.js"></script>
        <script type="text/javascript" src="components/colorpicker/js/colorpicker.js"></script>
        <script type="text/javascript" src="components/checkboxes/iphone.check.js"></script>
        <script type="text/javascript" src="components/elfinder/js/elfinder.full.js"></script>
        <script type="text/javascript" src="components/datatables/dataTables.min.js"></script>
        <script type="text/javascript" src="components/datatables/ColVis.js"></script>
        <script type="text/javascript" src="components/scrolltop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="components/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="components/jscrollpane/mousewheel.js"></script>
        <script type="text/javascript" src="components/jscrollpane/mwheelIntent.js"></script>
        <script type="text/javascript" src="components/jscrollpane/jscrollpane.min.js"></script>
        <script type="text/javascript" src="components/spinner/ui.spinner.js"></script>
        <script type="text/javascript" src="components/tipsy/jquery.tipsy.js"></script>
        <script type="text/javascript" src="components/editor/jquery.cleditor.js"></script>
        <script type="text/javascript" src="components/chosen/chosen.js"></script>
        <script type="text/javascript" src="components/confirm/jquery.confirm.js"></script>
        <script type="text/javascript" src="components/validationEngine/jquery.validationEngine.js" ></script>
        <script type="text/javascript" src="components/validationEngine/jquery.validationEngine-en.js" ></script>
        <script type="text/javascript" src="components/vticker/jquery.vticker-min.js"></script>
        <script type="text/javascript" src="components/sourcerer/sourcerer.js"></script>
        <script type="text/javascript" src="components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="components/flot/flot.js"></script>
        <script type="text/javascript" src="components/flot/flot.pie.min.js"></script>
        <script type="text/javascript" src="components/flot/flot.resize.min.js"></script>
        <script type="text/javascript" src="components/flot/graphtable.js"></script>
        <script type="text/javascript" src="components/uploadify/swfobject.js"></script>
        <script type="text/javascript" src="components/uploadify/uploadify.js"></script>        
        <script type="text/javascript" src="components/checkboxes/customInput.jquery.js"></script>
        <script type="text/javascript" src="components/effect/jquery-jrumble.js"></script>
        <script type="text/javascript" src="components/filestyle/jquery.filestyle.js" ></script>
        <script type="text/javascript" src="components/placeholder/jquery.placeholder.js" ></script>
		<script type="text/javascript" src="components/Jcrop/jquery.Jcrop.js" ></script>
        <script type="text/javascript" src="components/imgTransform/jquery.transform.js" ></script>
        <script type="text/javascript" src="components/webcam/webcam.js" ></script>
		<script type="text/javascript" src="components/rating_star/rating_star.js"></script>
		<script type="text/javascript" src="components/dualListBox/dualListBox.js"  ></script>
		<script type="text/javascript" src="components/smartWizard/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="js/jquery.cookie.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>        
    
      <style type="text/css">
	      body.dashborad{
		         background-image:none;
	          }
	          
	       .fileupload{
			    height: 30px;
			    border-style: none; 
			    border-width: 1px; 
			    width:380px;
			    margin-top: 1px;
			    white-space: nowrap;
 
			}	       
	 </style>   
</h:head>       
<h:body>       
    <div id="alertMessage" class="error"></div> 
  	<div id="shadowhead"></div>
    <div id="hide_panel"> 
        <a class="butAcc" rel="0" id="show_menu"></a>
        <a class="butAcc" rel="1" id="hide_menu"></a>
        <a class="butAcc" rel="0" id="show_menu_icon"></a>
        <a class="butAcc" rel="1" id="hide_menu_icon"></a>
    </div>           

	<div id="content" class="registrationpg">
		<div class="inner" >
		<div class="topcolumn">
		<div class="logo"></div>
	</div>
    <div class="clear"></div>
      <div class="onecolumn" >
        <div class="clear"></div>
         <div class="content">
           <div class="registration_form">
        	  <div class="setup_div">
            		<h3>Set Up Your Business in 10 Mintues</h3>
                     <div class="uibar">
                    	<div class="step step1_on">
                        </div>
                        <div class="step step2_off">
                        </div>
                        <div class="step step3_off">
                        </div>
                        <div class="step step4_off">
                        </div>
                        <div class="step step5_off">
                        </div>
                        <div class="step stepgo_off">
                        </div>
			
	         		 </div>
              </div>
    <h2>Step1 - Business Profile</h2>
        
 <div class="formEl_b">
   <h:form  id="validation"> 
    
      <div class="section ">
         <h:outputLabel value="Company Name"/>   
        <div> 
        <h:inputText value="#{businessSetup.businessDetail.companyName}" id="CompanyName"  styleClass="medium e_required" required = "true" requiredMessage="Company Name is required." validator = "#{businessSetup.validator.validateText}" >
        <f:attribute name="minmax" value="5,50" />
        <f:ajax event="blur"  render="companynamemsg" />
        </h:inputText>
        <h:message for="CompanyName" id="companynamemsg" style="font-family:arial;color:red;font-size:10px;" />
        </div>
      </div>   
                     
           
    <div class="section textonly">
	 <h:outputLabel value="About Company"/>   
      <div> 
      <h:inputTextarea  value="#{businessSetup.businessDetail.aboutCompany}" rows="4" cols="7" styleClass="medium" id="AboutCompany" required = "true" requiredMessage="This information is required." validator = "#{businessSetup.validator.validateText}">
      <f:attribute name="minmax" value="10,1000" />
      <f:ajax event="blur"  render="abtcompany" />
 	 </h:inputTextarea>
      <h:message for="AboutCompany" id="abtcompany" style="font-family:arial;color:red;font-size:10px;" />
       </div>
    </div>
    
			
    <div class="section textonly">
	  <h:outputLabel value="Tag"/>  
	  <div> 
	  <h:inputTextarea name="tag" value="#{businessSetup.businessDetail.tag}" id="Tag"  rows="4" cols="7" styleClass="medium" required = "true" requiredMessage="This information is required." validator = "#{businessSetup.validator.validateText}">
  	  <f:attribute name="minmax" value="5,100" />
  	  <f:ajax event="blur"  render="tagmsg" />
      </h:inputTextarea>
      <h:message for="Tag" id="tagmsg" style="font-family:arial;color:red;font-size:10px;" />
        </div>
    </div>
  	  
    
			
			
   <div class="section ">
	 <h:outputLabel value="Company Address"/>   
     <div> 
     <h:inputText value="#{businessSetup.businessDetail.companyAddress}" id="CompanyAddress"   styleClass="validate[required]  medium e_required" required = "true" requiredMessage="Company Address is required." validator = "#{businessSetup.validator.validateText}"  >
     <f:attribute name="minmax" value="5,50" />
     <f:ajax event="blur"  render="companyaddressmsg" />
	 </h:inputText>
     <h:message for="CompanyAddress" id="companyaddressmsg" style="font-family:arial;color:red;font-size:10px;" />
     </div>
   </div>   


   <div class="section">
   <h:outputLabel value="State"/>   
     <div>
     <h:selectOneMenu value="#{businessSetup.businessDetail.state}" id="State" styleClass="chzn-select"  required = "true" requiredMessage="Please select state." validator = "#{businessSetup.validator.validateSelect}">
        <f:ajax event="change"  render="statemsg" />
        <f:selectItems value="#{businessSetup.stateSelectItems}"/>        
		</h:selectOneMenu>
		<h:message for="State" id="statemsg" style="font-family:arial;color:red;font-size:10px;" />
          	
		 </div>
  </div>
	
          
			
			
  <div class="section">
    <h:outputLabel value="City"/>   
	<div>
	
	<h:selectOneMenu value="#{businessSetup.businessDetail.city}" id="City" styleClass="chzn-select" required = "true" requiredMessage="Please select city." validator = "#{businessSetup.validator.validateSelect}"  >
		<f:ajax event="change"  render="citymsg" />	
	<f:selectItems value="#{businessSetup.citySelectItems}"/> 
		</h:selectOneMenu>
	   
	<h:message for="City" id="citymsg" style="font-family:arial;color:red;font-size:10px;" />
</div>
  </div>   
    
  
  	
 <div class="section ">
   <h:outputLabel value="Profile Picture"><small>Choose</small></h:outputLabel>   
   <div > 
    	<h:inputText id="richtext" value="#{businessSetup.businessDetail.profilename}" styleClass="file fileupload" style="display: inline; color: rgb(102, 102, 102); font-size: 11px; width: 150px;" />
    	
    	<rich:fileUpload fileUploadListener="#{businessSetup.businessDetail.listener}" addLabel="browse" 
                id="upload" immediateUpload="true" autoclear="true" ontyperejected="alert('Only JPG, GIF, PNG and BMP files are accepted')"
                 render="@this richtext" noDuplicate="false" acceptedTypes="jpg, gif, png, bmp" styleClass="fileupload" style="position: absolute; height: 30px; width: 203px; display: inline; cursor: pointer;opacity: 0; margin-left: -142px;">
           </rich:fileUpload>      
    		
   </div>
 </div>		 
 
   
 <div class="section last">
   <div>
   <h:commandButton styleClass="regi_submit uibutton icon special forward" value="Next" action="#{businessSetup.continueToBusinessSetupStep2}"/>
   </div>		
 </div>
	
	

</h:form> 
</div>             
</div> 
</div> 
    
    <!--/END of Registration/-->
    <div class="clear"/></div>                 
    <div class="clear"></div>
        <div id="footer"> &copy; Copyright 2012 <span class="tip"><a  href="#" title="Ezee Appointer" >Your Company Name</a> </span> 
        </div>
		</div><!--//End inner-->
        </div><!--//End content-->
</h:body>
</html>
