<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

<h:head>
    
        
  <title>Business Setup - Ezee Appointer</title>
  
  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/fileupload.js"></script>
        <!-- Link shortcut icon-->
    <link rel="shortcut icon" type="image/ico" href="images/favicon2.html" /> 
    <!-- Link css-->
     <link rel="stylesheet" type="text/css" href="css/zice.style.css"/>
        <link rel="stylesheet" type="text/css" href="css/icon.css"/>
        <link rel="stylesheet" type="text/css" href="css/ui-custom.css"/>
        <link rel="stylesheet" type="text/css" href="css/timepicker.css"  />
        <link rel="stylesheet" type="text/css" href="components/colorpicker/css/colorpicker.css"  />
        <link rel="stylesheet" type="text/css" href="components/elfinder/css/elfinder.css" />
        <link rel="stylesheet" type="text/css" href="components/datatables/dataTables.css"  />
        <link rel="stylesheet" type="text/css" href="components/validationEngine/validationEngine.jquery.css" />
         
        <link rel="stylesheet" type="text/css" href="components/jscrollpane/jscrollpane.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="components/fancybox/jquery.fancybox.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="components/tipsy/tipsy.css" media="all" />
        <link rel="stylesheet" type="text/css" href="components/editor/jquery.cleditor.css"  />
        <link rel="stylesheet" type="text/css" href="components/chosen/chosen.css" />
        <link rel="stylesheet" type="text/css" href="components/confirm/jquery.confirm.css" />
        <link rel="stylesheet" type="text/css" href="components/sourcerer/sourcerer.css"/>
        <link rel="stylesheet" type="text/css" href="components/fullcalendar/fullcalendar.css"/>
        <link rel="stylesheet" type="text/css" href="components/Jcrop/jquery.Jcrop.css"  />
   		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css'></link>
        
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="components/flot/excanvas.min.js"></script><![endif]-->
        <script type="text/javascript" src="components/ui/jquery.ui.min.js"></script> 
        <script type="text/javascript" src="components/ui/jquery.autotab.js"></script>
        <script type="text/javascript" src="components/ui/timepicker.js"></script>
        <script type="text/javascript" src="components/colorpicker/js/colorpicker.js"></script>
        <script type="text/javascript" src="components/checkboxes/iphone.check.js"></script>
        <script type="text/javascript" src="components/elfinder/js/elfinder.full.js"></script>
        <script type="text/javascript" src="components/datatables/dataTables.min.js"></script>
        <script type="text/javascript" src="components/datatables/ColVis.js"></script>
        <script type="text/javascript" src="components/scrolltop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="components/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="components/jscrollpane/mousewheel.js"></script>
        <script type="text/javascript" src="components/jscrollpane/mwheelIntent.js"></script>
        <script type="text/javascript" src="components/jscrollpane/jscrollpane.min.js"></script>
        <script type="text/javascript" src="components/spinner/ui.spinner.js"></script>
        <script type="text/javascript" src="components/tipsy/jquery.tipsy.js"></script>
        <script type="text/javascript" src="components/editor/jquery.cleditor.js"></script>
        <script type="text/javascript" src="components/chosen/chosen.js"></script>
        <script type="text/javascript" src="components/confirm/jquery.confirm.js"></script>
        <script type="text/javascript" src="components/validationEngine/jquery.validationEngine.js" ></script>
        <script type="text/javascript" src="components/validationEngine/jquery.validationEngine-en.js" ></script>
        <script type="text/javascript" src="components/vticker/jquery.vticker-min.js"></script>
        <script type="text/javascript" src="components/sourcerer/sourcerer.js"></script>
        <script type="text/javascript" src="components/fullcalendar/fullcalendar.js"></script>
        <script type="text/javascript" src="components/flot/flot.js"></script>
        <script type="text/javascript" src="components/flot/flot.pie.min.js"></script>
        <script type="text/javascript" src="components/flot/flot.resize.min.js"></script>
        <script type="text/javascript" src="components/flot/graphtable.js"></script>

        <script type="text/javascript" src="components/uploadify/swfobject.js"></script>
        <script type="text/javascript" src="components/uploadify/uploadify.js"></script>        
        <script type="text/javascript" src="components/checkboxes/customInput.jquery.js"></script>
        <script type="text/javascript" src="components/effect/jquery-jrumble.js"></script>
        <script type="text/javascript" src="components/filestyle/jquery.filestyle.js" ></script>
        <script type="text/javascript" src="components/placeholder/jquery.placeholder.js" ></script>
		<script type="text/javascript" src="components/Jcrop/jquery.Jcrop.js" ></script>
        <script type="text/javascript" src="components/imgTransform/jquery.transform.js" ></script>
        <script type="text/javascript" src="components/webcam/webcam.js" ></script>
		<script type="text/javascript" src="components/rating_star/rating_star.js"></script>
		<script type="text/javascript" src="components/dualListBox/dualListBox.js"  ></script>
		<script type="text/javascript" src="components/smartWizard/jquery.smartWizard.min.js"></script>
        <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>    
    
    <style type="text/css">
	body.dashborad{
		  background-image:none;
	}
	</style>   
</h:head>      
<h:body>       
      
    <div id="alertMessage" class="error"></div> 
                   
   
    
	<div id="shadowhead"></div>
    <div id="hide_panel"> 
        <a class="butAcc" rel="0" id="show_menu"></a>
        <a class="butAcc" rel="1" id="hide_menu"></a>
        <a class="butAcc" rel="0" id="show_menu_icon"></a>
        <a class="butAcc" rel="1" id="hide_menu_icon"></a>
    </div>           

	<div id="content" class="registrationpg"><!--308-->
		<div class="inner">
		<div class="topcolumn">
		<div class="logo"></div>
	</div>
    <div class="clear"></div>
        <div class="onecolumn" >
        <div class="clear"></div>
        <div class="content" >
        <div class="registration_form">
        	<div class="setup_div">
            		<h3>Set Up Your Business in 10 Mintues</h3>
                    <div class="uibar">
                    	<div class="step step1_on">
                        </div>
                        <div class="step step2_on">
                        </div>
                        <div class="step step3_on">
                        </div>
                        <div class="step step4_off">
                        </div>
                        <div class="step step5_off">
                        </div>
                      <div class="step stepgo_off">
                        </div>
                        
                    </div>
                        </div>
        <h2>Step3 - Add Staff</h2>
        
        <div class="formEl_b">
        <h:form id="validation"> 
    
		<div class="section ">
				<h:outputLabel value="Staff Name"/>   
					  <div> 
					  <h:inputText value="#{businessSetup.staff.staffName}" name="staffname" id="StaffName"  styleClass="medium " required="true" requiredMessage="Staff Name is required." validator = "#{businessSetup.validator.validateText}" >
					  	<f:attribute name="minmax" value="3,30"/>
					  	<f:ajax event="blur"  render="staffmsg" />
					  </h:inputText>
					  <h:message for="StaffName" id="staffmsg" style="font-family:arial;color:red;font-size:10px;" />
									
					  </div>
            </div>   

			
			<div class="section">
			<h:outputLabel value="User Name"/>
				 <div>
				 <h:inputText value="#{businessSetup.staff.userName}" id="UserName"  name="staffusername"   styleClass="medium " required="true" requiredMessage="User Name is required." validator = "#{businessSetup.validator.validateText}">
				  <f:attribute name="minmax" value="3,20"/>
				  <f:ajax event="blur"  render="usermessage" />
				  </h:inputText>
				  <h:message for="UserName" id="usermessage" style="font-family:arial;color:red;font-size:10px;" />
				  <span class="f_help"> Username<br />Should be between 3 and not more than 20 characters.</span> 
				 </div>
		    <h:outputLabel value="Password"/>
               <div>
			      <h:inputSecret value="#{businessSetup.staff.password}" id="Password"  name="password" styleClass="medium " required="true" requiredMessage="Password is required." validator = "#{businessSetup.validator.validateText}">
                   <f:attribute name="minmax" value="6,60"/>
                   <f:ajax event="blur" render="passwordmessage" />
                  </h:inputSecret>
                  <h:message for="Password" id="passwordmessage" style="font-family:arial;color:red;font-size:10px;"/>	
               </div>		
              <h:outputLabel value="Confirm Password"/>			   
			    <div>
				<span class="f_help"> Your password should be at least 6 characters.</span>
				<h:inputSecret value="#{businessSetup.staff.cPassword}" id="ConfirmPassword" name="passwordCon" styleClass="medium"  required="true" requiredMessage="Confirm Password is required." validator = "#{businessSetup.validator.validateText}">
                <f:attribute name="minmax" value="6,60"/>
                <f:ajax event="blur" render="conpasswordmessage" />
                </h:inputSecret>
                <h:message for="ConfirmPassword" id="conpasswordmessage" style="font-family:arial;color:red;font-size:10px;"/>	
                </div>
            </div>
            
			<div class="section ">
				 <h:outputLabel value="Staff Profile Picture"><small>Choose</small></h:outputLabel>  
                 <div> 
                 <h:inputText id="profilename" value="#{businessSetup.staff.profileName}" styleClass="file fileupload" style="display: inline; color: rgb(102, 102, 102); font-size: 11px; width: 150px;" />
    	         <rich:fileUpload fileUploadListener="#{businessSetup.staff.listener}" addLabel="browse" 
                 id="upload" immediateUpload="true" autoclear="true" ontyperejected="alert('Only JPG, GIF, PNG and BMP files are accepted')"
                 render="@this profilename" noDuplicate="false" acceptedTypes="jpg, gif, png, bmp" styleClass="fileupload" style="position: absolute; height: 30px; width: 203px; display: inline; cursor: pointer;opacity: 0; margin-left: -142px;">
                </rich:fileUpload>
               <!-- <input placeholder="Choose File" class="file fileupload" style="display: inline; color: rgb(102, 102, 102); font-size: 11px; width: 150px;"><div class="filebtn" style="width: 203px; height: 30px; background: url(&quot;images/addFiles.png&quot;) no-repeat scroll right center transparent; display: inline; position: absolute; margin-left: -168px;"><input type="file" class="fileupload" style="position: absolute; height: 30px; width: 203px; display: inline; cursor: pointer; opacity: 0; margin-left: -142px;"></div>-->
                </div>
            </div>
        <div class="section">
            <h:outputLabel value="Services"> <small>Select Services from dropdown</small></h:outputLabel>  
            <div> 
            <h:selectManyListbox value="#{businessSetup.staff.services}" id="Services" styleClass="chzn-select multi-select" multiple = "true" tabindex="4" required="true" requiredMessage="Atleast one service is required.">
             <f:ajax event="change" render="servicemessage" />
            <f:selectItems value="#{businessSetup.servicesSelectItems}"/>                 	     
		    </h:selectManyListbox>
		    <h:message for="Services" id="servicemessage" style="font-family:arial;color:red;font-size:10px;"/>
           </div>
        </div>
		 <div class="timeblocks" style="background:#f8f8f8; border:1px solid #dddddd; padding:5px 10px;">
          <div class="days">
        	   <h4>Select Day and Time</h4>
               <div id="days">
                <h:selectManyCheckbox id = "Days" value="#{businessSetup.dayTime.days}" styleClass="ck" required = "true" requiredMessage = "Atleast one check box must be selected">
                  <f:ajax event="change" render="daysmessage" />
                  <f:selectItems value="#{businessSetup.weekDaysSelectItems}"/>
               </h:selectManyCheckbox>
               <h:message for="Days" id="daysmessage" style="font-family:arial;color:red;font-size:10px;"/>  
             </div>
	</div>
 		 <div class="clear"></div>
             
                     <div class="stafftime">
                     	<div class="grid2">
                        	<div class="section">
                               <h:outputLabel value="From"><small>Select Start Time</small></h:outputLabel>   
			       <div> 
			       <h:inputText id="FromTime" styleClass="timepicker" value="#{businessSetup.dayTime.fromTime}" name="timepicker" required="true" requiredMessage="From Time is required." validator = "#{businessSetup.validator.validateTime}">
			           <f:ajax event="blur" render="frmtimemessage" />			           
			       </h:inputText>
			       <h:message for="FromTime" id="frmtimemessage" style="font-family:arial;color:red;font-size:10px;"/>
			       </div>
				</div>
                            </div>                            
                        
                        <div class="grid2">
                        	<div class="section">
                               <h:outputLabel value="To"><small>Select End Time</small></h:outputLabel>     
                                <div>
                                <h:inputText id = "ToTime" styleClass="timepicker2" name="timepicker2" value="#{businessSetup.dayTime.toTime}" required="true" requiredMessage="To Time is required." validator = "#{businessSetup.validator.checkTimeDifference}">
                                	<f:ajax event="blur" render="totimemessage" />
                                </h:inputText>
			           			<h:message for="ToTime" id="totimemessage" style="font-family:arial;color:red;font-size:10px;"/>
			           
								</div>
                            </div>
                            
                        </div>
                        <div class="clear"></div>
                     </div>    
			<div>
                           <h:commandLink id = "addTimeBut" value="Add Time" action="#{businessSetup.addDayTime}" styleClass="addbtn buttonFinish uibutton">
       		               			<f:ajax execute="Days FromTime ToTime" render = "Days FromTime ToTime dayTimeTable"/>
                           </h:commandLink>
			</div>
                      <div class="clear"></div>
                      
                      <div id="staffblocks" class="staffblocks">
                       <h:panelGroup id = "dayTimeTable">
					  <ui:repeat var="dayTime" value="#{businessSetup.businessDetail.dayTimes}">
							<div class="grid2"><div class="shoutcutBox_noani"><span class="ico color clock"></span> <strong>1</strong><em><h:outputText value = "#{dayTime.daysStr}"/><br/>From:<h:outputText value = "#{dayTime.fromTime}"/> - To:<h:outputText value = "#{dayTime.toTime}"/></em><span class="ico gray trash_can ico-right"/></div></div>
					  </ui:repeat>
					  </h:panelGroup>
                        
                      </div>                     
                       <div class="clear"></div>
                     </div>        
                     <div class="clear" style="height:10px;"></div> 
                     <div class="rightflt">
					 <h:commandLink value ="Add Staff" styleClass="addbtn buttonFinish uibutton" action="#{businessSetup.addStaff}">
						<f:ajax execute="StaffName UserName Password ConfirmPassword profilename Services" render = "@form staffTable"/>
                     </h:commandLink>
                <!-- <a href="javascript:void(0)" title="service" id="addstf" class="addbtn buttonFinish uibutton">Add Staff</a>-->
                     </div>
					 
					 
					 
					 
					 	<h:panelGroup id = "staffTable"> 
	<div class="onecolumn" >
      <div class="header">
           <span ><span class="ico  gray random"></span> Dynamic Table </span>
      </div><!-- End header -->	
         <div class=" clear"></div>
      <div class="content"  >
        <div class="tableName">
		<h:dataTable value="#{businessSetup.businessDetail.staff}" var="o"
    			styleClass="display"
    			headerClass="th_wrapp">
 
    		<h:column>
 
    			<f:facet name="header">Staff Name</f:facet>
    			#{o.staffName}
 
    		</h:column>
 
    		<h:column>
 
    			<f:facet name="header">Staff username</f:facet>
    			#{o.userName}
 
    		</h:column>
 
    		<h:column>
 
    			<f:facet name="header">Staff Services</f:facet>
    			#{o.services}
 
    		</h:column>
 
    		<h:column>
 
    			<f:facet name="header">Manage</f:facet>
 
    			<a4j:commandButton value="Delete" action="#{businessSetup.deleteAction(o)}"	reRender="staffTable"/>
 
    		</h:column>
 
    		</h:dataTable>
		
		<!-- <table id="servicetbl" class="display" >
	       <thead>
		       <tr>
					<th width="20%"><div class="th_wrapp">Service Name</div></th>
					<th width="40%"><div class="th_wrapp">Service Description</div></th>
		            <th width="10%"><div class="th_wrapp">Duration</div></th>
					<th width="10%"><div class="th_wrapp">Price</div></th>
					<th width="20%"><div class="th_wrapp">Manage</div></th>
			  </tr>
	       </thead>
	       <tbody> </tbody>
          </table> -->
        </div>
            <div class="clear"></div>		
            <div class="clear"></div>		
     </div>
   </div>
</h:panelGroup>
                     
        </h:form> 
        <div class="clear"></div>
        
		
    </div> 
    </div>
      
        <!--/END of Registration/-->
        <div class="clear"/>
        
        <div class="section last">        	
			<div class="clear" style="height:10px; border-top:"></div> 
            <div>
				<h:form><h:commandLink value="Next"  styleClass="regi_submit buttonNext uibutton special icon next" action="#{businessSetup.continueToBusinessSetupStep4}" /></h:form>				
            </div>
        </div>
		                  
    </div>
   </div>
	<div class="clear"></div>
        <div id="footer"> &copy; Copyright 2012 <span class="tip"><a  href="#" title="Ezee Appointer" >Your Company Name</a> </span> </div>
		</div> <!--// End inner -->
        </div> <!--// End content --> 
        
</h:body>
</html>