<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

<h:head>
        <title>ziceinclude&trade; admin version 1.0 online</title>
        <!-- Link shortcut icon-->
        <link rel="shortcut icon" type="image/ico" href="images/favicon2.html" /> 
     <!-- Link css-->
   		<link rel="stylesheet" type="text/css" href="css/zice.style.css"/>
        <link rel="stylesheet" type="text/css" href="css/icon.css"/>
        <link rel="stylesheet" type="text/css" href="css/ui-custom.css"/>
        <link rel="stylesheet" type="text/css" href="css/timepicker.css"  />
        <link rel="stylesheet" type="text/css" href="components/fancybox/jquery.fancybox.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="components/datatables/dataTables.css"  /> 
        <link rel="stylesheet" type="text/css" href="components/chosen/chosen.css" />
        <link rel="stylesheet" type="text/css" href="components/confirm/jquery.confirm.css" />     
   
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="components/flot/excanvas.min.js"></script><![endif]-->
      <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="components/ui/jquery.ui.min.js"></script> 
        <script type="text/javascript" src="components/ui/timepicker.js"></script>
        <script type="text/javascript" src="components/checkboxes/iphone.check.js"></script>
        <script type="text/javascript" src="components/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="components/datatables/dataTables.min.js"></script>
        <script type="text/javascript" src="components/datatables/ColVis.js"></script>
        <script type="text/javascript" src="components/scrolltop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="components/chosen/chosen.js"></script>
        <script type="text/javascript" src="components/confirm/jquery.confirm.js"></script>
        <script type="text/javascript" src="components/checkboxes/customInput.jquery.js"></script>
        <script type="text/javascript" src="components/filestyle/jquery.filestyle.js" ></script>
        <script type="text/javascript" src="components/placeholder/jquery.placeholder.js" ></script>
		<script type="text/javascript" src="js/scripts.js"></script>        
 <style type="text/css">
 .notificationbox{
	 margin: 0 0 10px;
    padding: 15px 20px;
    position: relative;
	 background-color: #ffffff;
border: 1px solid #a5a5a5;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 4px #999999;
-webkit-box-shadow: 0px 0px 4px #999999;
box-shadow: 0px 0px 4px #999999;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#f8f8f8', endColorstr = '#eaeaea');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#f8f8f8', endColorstr = '#eaeaea')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #f8f8f8, #eaeaea);
background-image: -ms-linear-gradient(top, #f8f8f8, #eaeaea);
background-image: -o-linear-gradient(top, #f8f8f8, #eaeaea);
background-image: -webkit-gradient(linear, center top, center bottom, from(#f8f8f8), to(#eaeaea));
background-image: -webkit-linear-gradient(top, #f8f8f8, #eaeaea);
background-image: linear-gradient(top, #f8f8f8, #eaeaea);
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/

 }
.notification_left{
	width:70%;
	float:left;
}
.notification_right{
	width:30%;
	float:left;
}
.notificationbox strong{
	color:#666666;
	font-size:16px;
}
.notificationbox em{
	color:#f24f84;
	font-size:12px;
}
 </style>
           
        </h:head>        
        <h:body class="dashborad">        
        <div id="alertMessage" class="error"></div> 
                       
        <div id="header" >
                <div id="account_info"> 
                    <img src="images/avatar.png" alt="Online" class="avatar" />
					<div class="setting" title="Profile Setting"><b>Welcome,</b> <b class="red">John Doe</b><img src="images/gear.png" class="gear"  alt="Profile Setting" /></div>
					<div class="logout" title="Disconnect"><b >Logout</b> <img src="images/connect.png" name="connect" class="disconnect" alt="disconnect" /></div> 
                </div>
            </div> <!--//  header -->
			<div id="shadowhead"></div>
                   
                  <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      <li class="limenu select" ><a href="dashboard.html"><span class="ico gray shadow home" ></span><b>Dashboard</b></a></li>
                      <li class="limenu" ><a href="#" ><span class="ico gray shadow window"></span><b>Business Settings</b></a>
                        <ul>
                          <li ><a href="profile.html">Profile</a></li>
                          <li ><a href="services.html"> Services </a></li>
                          <li ><a href="staff.html"> Staff </a></li>
                          <li ><a href="congig.html"> Configuration </a></li>
                        </ul>
                      </li>
                      <li class="limenu" ><a href="#"><span class="ico gray  dimensions" ></span><b>Customers</b></a>
                        <ul>
                          <li ><a href="customers.html"> View/Search Customers </a></li>
                          <li ><a href="promote.html"> Promote </a></li>
                          <li ><a href="customer_settings.html">Customer Settings</a></li>
                        </ul>
                      </li>
                      <li class="limenu" ><a href="table.html"><span class="ico gray shadow  spreadsheet"></span><b>Reports</b> </a></li>
                      <li class="limenu" ><a href="gallery.html"><span class="ico gray shadow pictures_folder"></span><b>Accounting </b></a></li>   
                    </ul>
              </div>
          
            
            <div id="content">
                <div class="inner">
					<div class="topcolumn">
						<div class="logo"></div>
                            
					</div>
                    <div class="clear"></div>
                    
                    <div class="onecolumn">
                        <div class="header"> <span ><span class="ico gray"></span> Today's Overview: Sunday, May 20,<b> 2012</b></span> </div>
                        <div class="clear"></div>
                        <div class="content" >
                        <ul class="tabs">
                        	<li><a href="#tab1">Overview</a></li>
                            <li><a href="#tab2">Appointments</a></li>
                        </ul>
                        <div class="tab_container" >

                          <div id="tab1" class="tab_content"> 
                          
                            <div class="boxtitle min">Notifications</div>
                            <div class="grid1">
                            	<div class="shoutcutBox green"> <span class="ico color chat-exclamation"></span> <strong>23</strong> <em>Total Appointments</em> </div>
                            </div>
                            <div class="grid1">
                            	<div class="shoutcutBox yellow"> <span class="ico color chat-exclamation"></span> <strong>2</strong> <em>Pending for Approval</em> </div>
                            </div>
                            <div class="grid1">
                            	<div class="shoutcutBox"> <span class="ico color chat-exclamation"></span> <strong>23</strong> <em>Total Appointments</em> </div>
                            </div>
                             <div class="grid1">
                            	<div class="shoutcutBox"> <span class="ico color chat-exclamation"></span> <strong>23</strong> <em>Total Appointments</em> </div>
                            </div>
                            <div class="clear"></div>
                           <div class="boxtitle min">Staff Appointments</div>
                            <div class="grid2">
                            	<div class="notificationbox tip"> <div class="notification_left"><strong>Sai Ram</strong> - <em>Service Name</em><br />
										<span class="small">has 23 Appointments</span></div>
                                        <div class="notification_right"> <a href="#" class="atip" original-title="Print Appointments"><span class="ico color print ico-right"></span></a> <a href="#" class="atip" original-title="View Appointments"><span class="ico color notepad ico-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                        </div>
                            </div>
                            <div class="grid2">
                            	<div class="notificationbox tip"> <div class="notification_left"><strong>Sai Ram</strong> - <em>Service Name</em><br />
										<span class="small">has 23 Appointments</span></div>
                                        <div class="notification_right"> <a href="#" class="atip" original-title="Print Appointments"><span class="ico color print ico-right"></span></a> <a href="#" class="atip" original-title="View Appointments"><span class="ico color notepad ico-right"></span></a>
                                        </div>
                                        <div class="clear"></div>
                                        </div>
                            </div>
                            <div class="clear"></div>
                            
                            <h3>Appointments waiting for Approval</h3>
                            <table class="display static " id="static">
                                <thead>
                                  <tr>
                                    <th width="10%" >Sl.No</th>
                                    <th width="25%" align="left">Staff Name</th>
                                    <th width="25%" >Service</th>
                                    <th width="20%" >Time</th>
                                    <th width="20%" >Approve/Disapprove</th>
                                  </tr>
                                </thead>
                                <tbody>
                              
                                  <tr>
                                    <td>1</td>
                                    <td  align="left">Dr. Sai Ram</td>
                                    <td>Health Checkup</td>
                                    <td>Nov 23 - 10:30am</td>
                                    <td>
                                      <h:selectBooleanCheckbox  id="approve" name="approve"   styleClass="approve" />
                                        </td>
                                  </tr>

                                 <tr>
                                    <td>2</td>
                                    <td  align="left">Dr. Sai Ram</td>
                                    <td>Health Checkup</td>
                                    <td>Nov 23 - 10:30am</td>
                                    <td>
                                     <h:selectBooleanCheckbox  id="approve" name="approve"   styleClass="approve" />
                                        </td>
                                  </tr>
                                </tbody>
                              </table>
                            
                            
                           <div class="clear"></div> 
                           </div>
                           <div id="tab2" class="tab_content"> 
                           
                           <div class="section">
                                <h:outputLabel value="Select Date to View Appointments"/>   
                                <div><h:inputText  id="datepick" styleClass="datepicker" readonly="readonly" name="datepicker"  /></div>
                            </div>
                            
                           <div class="timedahbaord usrappointment">
                           		<table class="display fc-border-separate timetbl" id="static">
              <thead>
                <tr class="fc-first fc-last">
                  <th class="fc-sun fc-widget-header fc-first" width="20%">Timings</th>
                  <th class="fc-sun fc-widget-header" width="11%">Sun 7/15</th>
                  <th class="fc-mon fc-widget-header" width="11%">Mon 7/16</th>
                  <th class="fc-tue fc-widget-header" width="11%">Tue 7/17</th>
                  <th class="fc-wed fc-widget-header" width="11%">Wed 7/18</th>
                  <th class="fc-thu fc-widget-header" width="11%">Thu 7/19</th>
                  <th class="fc-fri fc-widget-header" width="11%">Fri 7/20</th>
                  <th class="fc-sat fc-widget-header">Sat 7/21</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">8:00am - 8:30am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 fc-state-highlight state-available fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-fri fc-widget-content fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">&nbsp;</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">8:30am - 9:00am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                     <td class="fc-fri fc-widget-content state-available fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td> 
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">9:00am - 9:30am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-fri fc-widget-content fc-day5 state-available fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                    <td class="fc-sat fc-widget-content fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">&nbsp;</div>
                      </div>
                    </div></td>
                </tr>
                <tr class="fc-week0 fc-first fc-last">
                  <td class="fc-sun fc-widget-content fc-day0 fc-first"><div>
                      <div class="fc-day-content">
                        <div style="position: relative; height: 0px;">9:30am - 10:00am</div>
                      </div>
                    </div></td>
                  <td class="fc-mon fc-widget-content fc-day1 state-available fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-tue fc-widget-content fc-day2 state-available fc-state-highlight fc-today"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-wed fc-widget-content state-available fc-day3"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                  <td class="fc-thu fc-widget-content fc-day4 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td>
                  <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                     <td class="fc-fri fc-widget-content state-available fc-day5 fc-state-booked"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Booked</div>
                      </div>
                    </div></td> 
                    <td class="fc-sat fc-widget-content state-available fc-day6"><div>
                      <div class="fc-day-content">
                        <div style="position:relative">Available</div>
                      </div>
                    </div></td>
                </tr>
               
              </tbody>
            </table>
                             </div> 
                           </div>
                          </div> 
                            
                            
                            
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- // End onecolumn -->
                   
                    
                    <div class="clear"></div>
                    <div id="footer"> &copy; Copyright 2012 <span class="tip"><a  href="#" title="Zice Admin" >Your Company Name</a> </span> </div>
                </div> <!--// End inner -->
            </div> <!--// End content --> 
            </h:body>
</html>