@charset "utf-8";
/* CSS Document */
table.simple a,
table.simple a:link,
table.simple a:visited {
	border:none;
	}							
	
img {
	border:0;
	margin-top:.5em;
	}	
table.simple {
	width:90%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
		border-collapse:collapse;
	}
caption {
	color: #9ba9b4;
	font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
table.simple tr.odd td	{
	background:#f7fbff
	}
table.simple tr.odd .column1	{
	background:#f4f9fe;
	}	
.column1	{
	background:#f9fcfe;
	}
table.simple td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
	}				
table.simple th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}							
table.simple th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3
	}	
table.simple tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
table.simple tfoot th strong {
	font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
table.simple tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}	
table.simple td.booked{
	background:#f7941d;
	color:#c4c4c4;
}
table.simple td.open:hover{
	background:#aed741;
	color:#ffffff;
}
table.simple td.open{
	color:#ffffff;
}