<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>	
	<bean id="daoFactory" class="com.ezeeappointer.common.TEADataStoreDAOFactory"/>
	<bean id="sequenceNumService" class="com.ezeeappointer.serviceimpl.TEASequenceNumberGeneratorServiceBean">
		<property name="teaDAOFactory" ref="daoFactory"/>
	</bean>	
	<bean id="businessUserService" class="com.ezeeappointer.serviceimpl.TEABusinessUserManagementServiceBean">
		<property name="teaDAOFactory" ref="daoFactory"/>
		<property name="teaSeqGenService" ref="sequenceNumService"/>
	</bean>
	<bean id="businessService" class="com.ezeeappointer.serviceimpl.TEABusinessDetailServiceBean">
		<property name="teaDAOFactory" ref="daoFactory"/>
		<property name="teaSeqGenService" ref="sequenceNumService"/>
		<property name="teaBusinessUserService" ref="businessUserService"/>
	</bean>	
	<bean id="appointeeUserService" class="com.ezeeappointer.serviceimpl.TEAAppointeeUserManagementServiceBean">
		<property name="teaDAOFactory" ref="daoFactory"/>
	</bean>	  	
	<bean id="appointmentService" class="com.ezeeappointer.serviceimpl.TEAAppointmentServiceBean">
		<property name="teaDAOFactory" ref="daoFactory"/>
	</bean>
	
</beans>